body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#f4f4f4;
}

header{
    background:#111;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 50px;
}

.logo{
    font-size:28px;
    font-weight:bold;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:25px;
    font-size:18px;
}

nav a:hover{
    color:#00c8ff;
}

main{
    text-align:center;
    padding:100px 20px;
}

h1{
    font-size:48px;
    color:#222;
}

p{
    font-size:20px;
    color:#666;
}
.hero{
    text-align:center;
    padding:120px 20px;
    background:linear-gradient(135deg,#111,#444);
    color:white;
}

.hero h1{
    font-size:56px;
    margin-bottom:20px;
}

.hero p{
    font-size:22px;
    color:#ddd;
    margin-bottom:35px;
}

.shop-btn{
    display:inline-block;
    background:#00c8ff;
    color:white;
    padding:15px 35px;
    border-radius:8px;
    text-decoration:none;
    font-size:20px;
    font-weight:bold;
}

.shop-btn:hover{
    background:#0099cc;
}
